<nav>
  <div><a href="javascript:void(0);" class="icon" (click)="toggleMenu02()"><i class="fa fa-bars"></i></a></div>
  <ul class="menu01" id="menu02">
    <li><a href="javascript:void(0);" (click)="toggleMenu02()" routerLink="/t01" routerLinkActive="active">T01</a></li>
    <li><a href="javascript:void(0);" (click)="toggleMenu02()" routerLink="/t02" routerLinkActive="active">T02</a></li>
    <li><a href="javascript:void(0);" (click)="toggleMenu02()" routerLink="/t03" routerLinkActive="active">T03</a></li>
    <li><a href="javascript:void(0);" (click)="toggleMenu02()" routerLink="/t04" routerLinkActive="active">T04</a></li>
  </ul>
</nav>
