.users {
  margin: 10px 0;
  padding: 15px;
  min-height: 200px;
  overflow: auto;
  background-color: #eee;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      margin: 0 10px 10px 0;
      span {
        display: block;
        margin-top: 4px;
      }
    }
  }
}
